# --- macOS Specific ---
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

# --- Node / MERN Specific ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Environment / Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Build / Output ---
dist/
build/
out/

# --- Tools / IDEs ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?